<!DOCTYPE html>
<html>
<head>
    <title>vue-share-todolist</title>
    <style type="text/css">
        [v-cloak] { display: none; }

        .isdone { text-decoration: line-through; }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <h3>vue分享 todolist</h3>
        <input type="text" placeholder="待办事项" v-model="text">
        <button type="button" v-on:click="add">增加</button>

        <ul v-if="list.length">
            <li v-for="item in list">
                <span v-bind:class="{isdone: item.done}">{{ item.text }}</span>
                <button type="button" v-on:click="unfinish(item)" v-if="item.done">未完成</button>
                <button type="button" v-on:click="finish(item)" v-else>已完成</button>
                <button type="button" v-on:click="del(item)">删除</button>
            </li>
        </ul>
        <p v-else>
            空空如也
        </p>

        <p>待办 {{ todoNum }} 条，已完成 {{ finishNum }} 条。</p>
    </div>
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="demo.js"></script>
</body>
</html>
